<!doctype html>
<html lang=en>

  <head>
    <meta charset=utf-8>
    <title>{{this.title}} - {{project.site_title}}</title>
    {% block css %}
    <link rel="stylesheet" href="{{project.site_path}}/css/app.css?v={{project.version}}" type="text/css" />
    {% if this.styles %}
    {% set style_data = this.styles.split() %}
    {% for style in style_data %}
    <link rel="stylesheet" href="{{project.site_path}}{{style}}?v={{project.version}}" type="text/css" />
    {% endfor %}
    {% endif %}
    {% endblock %}
  </head>
  
  <body>
    {% block body %}
    <header>
      <span class="header__branding">{{project.site_title}}</span> <span class="header__version">{{project.version}}</span><span class="header__page-title">{{this.title}}</span>
    </header>
    <main>
      {% block content %}
      {{ this.content }}
      {% endblock %}
    </main>

    
    {% block javascript %}
    <script src="{{project.site_path}}/js/app.js?v={{project.version}}" type="module"></script>
    {% if this.scripts %}
    {% set script_data = this.scripts.split() %}
    {% for script in script_data %}
    <script type="module">
      import "{{project.site_path}}{{script}}?v={{project.version}}"
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}

  {% endblock %}
  </body>

</html>
