<!doctype html>
<html lang=en>

  <head>
    <meta charset=utf-8>
    <title>{{SITE_TITLE}}</title>
    {% block css %}
    {% if this.styles %}
    {% set style_data = this.styles.split() %}
    {% for style in style_data %}
    <link rel="stylesheet" href="{{ SITE_PATH }}{{style}}" type="text/css" />
    {% endfor %}
    {% endif %}
    {% endblock %}
  </head>
  
  <body>
    {% block body %}
    <main>
      {% block content %}
      {{ this.content }}
      {% endblock %}
    </main>

    
    {% block javascript %}
    <script src="{{SITE_PATH}}/js/app.js?v={{VERSION}}" type="module"></script>
    {% if this.scripts %}
    {% set script_data = this.scripts.split() %}
    {% for script in script_data %}
    <script type="module">
      import "{{ SITE_PATH }}{{script}}?v={{VERSION}}"
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}

  {% endblock %}
  </body>

</html>
